html, body {
	margin: 0;
	color: #FFF;
}

body {
	background-color: #49075E;
	background-image: url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.center-panel {
	background: #fff;
	width: 350px;
	padding: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
}

h1 {
	text-align: center;
	background: url("../img/logo_purple.png") no-repeat center;
	background-size: contain;
	height: 100px;
	text-indent: -9999px;
	margin-bottom: 30px;
}

form {
	text-align: center;
	width: 350px;
	//background: #fff;
	//padding: 40px;
}

form input {
	display: block;
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 1.2em;
}

form input[type=submit] {
	background-color: #8CB800;
	color: #FFF;
	border: none;
	font-weight: bold;
}
